:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --white: #fff;
  --dairy: #fcfcfc;
}

/* ----------------------------*/
/* |         RESET   ON      | */
/* ----------------------------*/

main {
  flex-grow: 1;
}

ul {
  padding-left: 0;
  display: flex;
}

/* Обнулення маржінів у заголовков та параграфів  */
h1,
h2,
h3,
p {
  /* margin-top: 0;
  margin-bottom: 0; */
  padding: 0;
  margin: 0;
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/*-------Зроби з картинок блоковий елемент + гумовий + автоподстройка висоти +
         указывает содержимому заполнять контейнер object-fit: cover;
         он будет отрезать стороны изображения, сохранение соотношения сторон */
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/* --Зроби зображення блочними елементами*/
/*----------------------------------  */
/*             RESET END              */
/* ---------------------------------  */

/* Додаємо "Паттерн для приховання заголовків": властивості для класу .visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------------------------------- */
/*              Components styles          */
/* --------------------------------------- */

/* --Визнач ширину та падінги для контейнера
                   та пропиши їх у CSS-файлі: */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1158px;
  /* 1128 в макеті + 2х15рх */
  padding-left: 15px;
  padding-right: 15px;
  /* задаємо центрування */
  margin: 0 auto;
  /* Підсвічуємо контейнери */
  /* outline: 2px solid #31d0aa; */
}

/* ------------------------------------------ */
/*         Header                         */
/* ------------------------------------------ */

.nav-page {
  display: flex;
  align-items: center;
}
.web {
  position: relative;
}

.list-header,
.list-address {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

/* {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
} */

.list-header .item {
  padding: 24px 0;
  display: block;
}

.header .container {
  display: flex;
  /* gap: 40; */
  /* justify-content: space-between; */
  align-items: center;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header {
  border-bottom: 1px solid var(--cornflower);
  display: flex;
}

.nav-page .logo-web {
  margin-right: 76px;
}

.address {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-page {
  background: var(--white);
}

.logo-web {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--navyblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link.item {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link.item:hover,
.link.item:focus {
  color: var(--ocean);
}

.link.item.current {
  color: var(--iris);
}

.link.item.current::after {
  content: "____";
  width: 66px;
  height: 4px;
  color: var(--ocean);
}

.contacts {
  color: var(--slate);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}
/* ------------------------------------------------------------- */
/*                          Hero                                 */
/* ------------------------------------------------------------- */

.hero {
  background: var(--navyblue);
  color: var(--white);
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
  /* Мабуть ніжніє строки треба в .hero .container */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* --------до сих пор------------------------- */
.container .hero-title {
  max-width: 496px;
  padding-left: auto;
  padding-right: auto;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

/* default */
.hero-btn {
  cursor: pointer;
  color: var(--white, #fff);

  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  background: var(--iris);

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  padding: 16px 32px;
  margin: 48px auto 0;

  min-width: 169px;
  height: 56px;
  border: none;
  display: block;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* hover */
.hero-btn:hover,
.hero-btn:focus {
  color: var(--white);
  background: var(--ocean);

  /* Button Text */
  /* font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: 0.64px; */
}

.hero-text {
  color: var(--slate);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ---------------------------------------------------------------------- */
/* -------------------Section  feature----------------------------------- */
/* ---------------------------------------------------------------------- */
.feature {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-feature {
  color: var(--navyblue);
  /* Header 3 */

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list .features {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.hero-feature {
  margin-bottom: 8px;
}

.features {
  display: flex;
  width: 1128px;
  height: 104px;
  flex-shrink: 0;
  /* margin-top: 120px; */
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.features-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 264px;
  width: 100%;
  width: calc((100% - 3 * 24px) / 4);
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.feature-icon {
  display: block;

  border-radius: 4px;
  background: var(--cloud);
  display: flex;

  width: calc((100% - 3 * 24px) / 4);
  max-width: 264px;
  width: 264px;
  height: 112px;
  gap: 8px;
  padding: 24px 100px;
}
/* ------------------------------------------------------------------- */
/* -------------------Section skills---------------------------------- */
/* ------------------------------------------------------------------- */
.skills {
  padding-bottom: 120px;
}

.skills .title {
  margin-bottom: 72px;
  text-align: center;
  /* width: calc((100% - 48px) / 3); */
}

.skills .list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 72px auto 0;
  padding: 0;
}

.skill {
  display: flex;
  width: 100%;
  flex-basis: calc((100% - 48px) / 3);
}
/* --------------------------------------------------------------- */
/*                            Section Cards                        */
/* --------------------------------------------------------------- */

.cards {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.cards-title {
  color: var(--navyblue);

  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.cards .list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-basis: calc((100% - 72px) / 4);
}

.cards-list {
  background-color: var(--white);
  /*width: 264px;*/
  flex-basis: calc((100% - 72px) / 4);
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.cards .subtitle {
  line-height: 1.2;
  /* margin-bottom: 8px; */
}

.box-employee {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
   min-height: 104px; */
  
  /* text-align: center; */
  /* padding: 32px 16px; */
  /* background-color: blueviolet; */
  max-width: 232px;
}

.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.social-icons {
  list-style-type: none;

  flex-basis: calc((100% - 72) / 4);
  flex-shrink: 0;
}

.social-link {
  display: flex;
  fill: var(--cloud);
  background-color: var(--iris);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-duration: 250ms; */
  /* transition-timing-function: cubic-bezier(0.4 0 0.2 1); */
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}
/* -------------------------------------------------------------- */
/*                              Customers                         */
/* -------------------------------------------------------------- */

.customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 0;
}
.customers .title {
  margin-bottom: 72px;
}
.customers-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  padding: 16px 32px;
  border: 1px solid var(--lightslate);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover {
  border-color: var(--ocean);
  color: var(--ocean);
}
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}
.customers-svg {
  fill: currentColor;
}

/* .customers-use {
  fill: var(--lightslate);}

.customers-use:hover {
    fill: var(--ocean);
} */
.customers-link:hover .customers-svg {
  /* fill:currentColor; */
  /* border-color: #404bbf; 
  color: #404bbf;  */
}
/* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/* --------------------------------------------------------------- */
/*                               Footer                            */
/* --------------------------------------------------------------- */

.footer .logo-web {
  line-height: 1.17;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--cloud);
  max-width: 264px;
  /* margin-left: 156px */
}

.footer {
  background: var(--navyblue);
  color: var(--cornflower);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo-studio {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-media {
  color: var(--white);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-list {
  list-style-type: none;
  gap: 16px;
}
/* ---------------------------------- */
.footer-item {
  /* display: flex; */
}

.footer-social-link {
  display: flex;
  flex-shrink: 0;
  fill: var(--cloud);
  flex-wrap: wrap;

  background-color: var(--iris);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-duration: 250ms; */
  /* transition-background: 250ms; */

  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    transition-property: all; */
}

.social-svg {
  fill: var(--cloud);
  /* flex-basis: ((100% - 72px) / 4); */
}

.footer-social-svg {
  fill: var(--cloud);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.futer-logo,
.footer-social {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
  /* align-items: baseline; */
  /* justify-content: flex-start; */
}

/* .footer-social {
  display: flex;
  flex-direction: column;
  padding: 108px auto 124px;
  column-gap: 16px;
} */
/* .futer-logo {
  flex-direction: column;
} */

/* -------------------------------------------------------------- */
/*                            Page Portfolio                      */
/* -------------------------------------------------------------- */

.portfolio {
  padding: 96px 0 120px 0;
}

.btn-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.btn-text {
  cursor: pointer;
  color: var(--iris);
  background-color: var(--cloud);
  text-align: center;

  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
}

.btn-text:hover,
.btn-text:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
}

.list-portfolio {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.item-portfolio {
  width: calc((100% - 48px) / 3);
}

.box-portfolio {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
  text-align: start;
}

.title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

/* ----------------------------------------------------------------- */

.title {
  color: var(--navyblue);

  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  color: var(--navyblue);

  /* Header 3 */

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.subtitle-text {
  color: var(--slate);

  /* Body */

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.subtitle-portfolio {
  color: var(--slate);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
